body{
    width: 100vw;
}
.header {
    border-bottom: solid 1px #e9dacb;
}

.header__inner {
    margin: 20px 0;
    width: 100%;
    position: relative;
    height: 50px;
}

.header__inner:not(:has(.header-nav)) {
    display: flex;
    justify-content: center;
}

.header__logo {
    color: #8d6449;
    text-decoration: none;
    font-family: "Noto Serif", serif;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-nav {
    text-align: right;
    position: relative;
    top:10px;
    align-items: center;
    margin-right: 5%;
}

.header-nav__button {
    list-style: none;
    display: inline;
    text-decoration: none;
    font-family: "Noto Serif", serif;
    color: #c49a6a;
    border-radius: 3px;
    font-size: 16px;
    background-color: #eee9e6;
    border-color: #c49a6a;
    padding: 5px 30px;
}

.header-nav__button--logout button{
    background-color: #eee9e6;
    border-color: #c49a6a;
    padding: 5px 30px;
    border: none;
    font-family: "Noto Serif", serif;
    color: #c49a6a;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}